<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mybot">
    
    <xacro:include filename="$(find mybot)/urdf/mybot_core.xacro"/>
    <xacro:include filename="$(find mybot)/urdf/lidar.xacro"/>
    <!--xacro:include filename="$(find mybot)/urdf/camera.xacro"/-->
    <xacro:include filename="$(find mybot)/urdf/depth_camera.xacro"/>
    <xacro:include filename="$(find mybot)/urdf/projector.xacro"/>
</robot>