<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find mybot)/urdf/inertial_macros.xacro"/>
    
    <!--projector link-->
    <link name="mybot/projector_link">
        <xacro:inertial_box mass="0.03" x="0.01" y="0.03" z="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
        <visual>
            <origin xyz="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.01 0.03 0.05"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.01 0.03 0.05"/>
            </geometry>
        </collision>
    </link>

    <joint name="mybot/projector_joint" type="fixed">
        <origin xyz="-0.205 0.0 0.2" rpy="0.0 1.0 0.0"/>
        <parent link="mybot/chassis_link"/>
        <child link="mybot/projector_link"/>
    </joint>

    <!-- projector -->
    <gazebo reference="mybot/projector_link">
        <material>Gazebo/Red</material>
        <projector name="projector1">
            <pose> 0 0 0 0 0 0 </pose>
            <texture>fungus_normal.png</texture>
            <near_clip>0.01</near_clip>
            <far_clip>3.0</far_clip>
            <fov>0.5</fov>
            <plugin name="projector_controller" filename="libgazebo_ros_projector.so">
                <update_rate>10.0</update_rate>
            </plugin>    
        </projector>
    </gazebo>
</robot>